html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-white-500 {
  background-color: #f5f4f4;
}
.bg-brown-500 {
  background-color: #cd9777;
}
.bg-black-500 {
  background-color: #6c757d;
}
